.container {
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
}

.text{
}

.column{
    width: 25% !important;
    display: flex;
    flex-direction: column;
}