.container {
    display: flex;
    flex-direction: column;
    alignment: center;
}

.row{
    display: flex;
    flex-direction: row;
   /* width: 20%!important;*/
    /* overflow: auto; */
    alignment: center;
}

.text{
}

.column{
    /*width: 25% !important;*/
    display: flex;
    flex-direction: column;
    alignment: center;
}
