.container {
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    width: 20%!important;
    /* overflow: auto; */
}

.text{
}

.column{
    width: 25% !important;
    display: flex;
    flex-direction: column;
}