.container{
    position: absolute;
    left: -40px;

    width: 960px;
    height: 250px;
}

.container li{
    height: 1px;
    display: inline-block;
    width: 100%;
    background: #c8bb93;
    margin-bottom: 35px;
    border-bottom: 2px solid #958963;
    box-sizing: border-box;
}